<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mml.core" >
    <application>
        <provider
            android:name="com.mml.core.GlobalContextProvider"
            android:authorities="${applicationId}.GlobalContextProvider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>
